<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dk.itu.coqoon.ui.commands.step_forward"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.step_cursor"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Enter">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.step_backward"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+U">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.retract"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.step_all"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+B">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.interrupt_coq"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+C">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+I">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Implicit">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+C">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Coercions">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Matching">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+S">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Synth">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+N">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Notations">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+A">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing All">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Records">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Existential Instances">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+U">
         <parameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               value="Printing Universes">
         </parameter>
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.open_declaration"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="dk.itu.coqoon.ui.commands.reformat"
            contextId="dk.itu.coqoon.ui.contexts.coq"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="dk.itu.coqoon.ui.CoqEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v"
            icon="icons/coqfile_obj.gif"
            id="kopitiam.CoqEditor"
            name="Coq Editor">
         <contentTypeBinding
               contentTypeId="dk.itu.coqoon.core.CoqFile">
         </contentTypeBinding>
      </editor>
      <editor
            class="dk.itu.coqoon.ui.PIDECoqEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v"
            icon="icons/coqfileblue_obj.gif"
            id="dk.itu.coqoon.ui.PIDECoqEditor"
            name="PIDE Coq Editor">
         <contentTypeBinding
               contentTypeId="dk.itu.coqoon.core.CoqFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="dk.itu.coqoon.ui.views.coq"
            name="Coq Views">
      </category>
      <view
            allowMultiple="false"
            category="dk.itu.coqoon.ui.views.coq"
            class="dk.itu.coqoon.ui.GoalViewer"
            icon="icons/coqide.png"
            id="kopitiam.GoalViewer"
            name="Goal Viewer">
      </view>
      <view
            category="dk.itu.coqoon.ui.views.coq"
            class="dk.itu.coqoon.ui.ModelExplorer"
            icon="icons/compile.gif"
            id="dk.itu.coqoon.ui.views.ModelExplorer"
            name="Model Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="dk.itu.coqoon.core.pref"
            class="dk.itu.coqoon.ui.CoqoonColorPreferencePage"
            id="dk.itu.coqoon.ui.pref.color"
            name="Color">
      </page>
      <page
            category="dk.itu.coqoon.core.pref"
            class="dk.itu.coqoon.ui.CoqoonFormattingPreferencePage"
            id="Formatting"
            name="Formatting">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dk.itu.coqoon.ui.commands.category"
            name="Coqoon">
      </category>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Send the next sentence to the Coq process"
            id="dk.itu.coqoon.ui.commands.step_forward"
            name="Step forward command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Retracts the last sentence sent to the Coq process"
            id="dk.itu.coqoon.ui.commands.step_backward"
            name="Step backward command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Sends all sentences up to the cursor position to the Coq process"
            id="dk.itu.coqoon.ui.commands.step_cursor"
            name="Step to cursor command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Sends all sentences in the current file to the Coq process"
            id="dk.itu.coqoon.ui.commands.step_all"
            name="Step all command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Retracts all sentences sent to the Coq process"
            id="dk.itu.coqoon.ui.commands.retract"
            name="Retract all command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Terminates the running Coq process"
            id="dk.itu.coqoon.ui.commands.stop_coq"
            name="Stop Coq command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Send an interrupt to the running Coq process"
            id="dk.itu.coqoon.ui.commands.interrupt_coq"
            name="Interrupt Coq command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Toggle a Coq flag"
            id="dk.itu.coqoon.ui.commands.toggle_coq_flag"
            name="Toggle Coq flag command">
         <commandParameter
               id="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
               name="Flag"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Jump to the declaration of the highlighted name"
            id="dk.itu.coqoon.ui.commands.open_declaration"
            name="Open declaration command">
      </command>
      <command
            categoryId="dk.itu.coqoon.ui.commands.category"
            description="Reindent and reformat a region of Coq code"
            id="dk.itu.coqoon.ui.commands.reformat"
            name="Reformat Coq region command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="dk.itu.coqoon.ui.annotationTypes.processed">
      </type>
      <type
            name="dk.itu.coqoon.ui.annotationTypes.processing">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="dk.itu.coqoon.ui.annotationTypes.processed"
            colorPreferenceKey="coqSentBg"
            colorPreferenceValue="118,255,133"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.processed.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Coq Processed"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.processed.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="processedIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.processed.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="processedIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="dk.itu.coqoon.ui.annotationTypes.processing"
            colorPreferenceKey="coqSentProcessBg"
            colorPreferenceValue="255,241,117"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.processing.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Coq Processing"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.processing.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="processingIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.processing.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="processingIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Context for Coq proof scripts"
            id="dk.itu.coqoon.ui.contexts.coq"
            name="Coq editor context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="dk.itu.coqoon.ui.newWizards.coq"
            class="dk.itu.coqoon.ui.NewCoqFileWizard"
            icon="icons/coqide.png"
            id="Kopitiam.newCoqFileWizard"
            name="Coq File">
      </wizard>
      <wizard
            category="dk.itu.coqoon.ui.newWizards.coq"
            class="dk.itu.coqoon.ui.NewCoqProjectWizard"
            finalPerspective="dk.itu.sdg.kopitiam.CoqPerspective"
            icon="icons/coqide.png"
            id="Kopitiam.newCoqProjectWizard"
            name="Coq Project"
            preferredPerspectives="dk.itu.sdg.kopitiam.CoqPerspective"
            project="true">
      </wizard>
      <category
            id="dk.itu.coqoon.ui.newWizards.coq"
            name="Coq">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dk.itu.coqoon.ui.CoqPerspectiveFactory"
            icon="icons/coqide.png"
            id="dk.itu.sdg.kopitiam.CoqPerspective"
            name="Coq">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="dk.itu.coqoon.ui.LoadPathConfigurationPage"
            icon="icons/coqide.png"
            id="dk.itu.sdg.kopitiam.propertyPages.CoqLoadPath"
            name="Coq Load Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="dk.itu.sdg.kopitiam.CoqNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dk.itu.coqoon.ui.CoqStepForwardHandler"
            commandId="dk.itu.coqoon.ui.commands.step_forward">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.CoqStepBackHandler"
            commandId="dk.itu.coqoon.ui.commands.step_backward">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.CoqStepToCursorHandler"
            commandId="dk.itu.coqoon.ui.commands.step_cursor">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.CoqStepAllHandler"
            commandId="dk.itu.coqoon.ui.commands.step_all">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.CoqRetractAllHandler"
            commandId="dk.itu.coqoon.ui.commands.retract">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.StopCoqHandler"
            commandId="dk.itu.coqoon.ui.commands.stop_coq">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.InterruptCoqHandler"
            commandId="dk.itu.coqoon.ui.commands.interrupt_coq">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorHasCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.ToggleCoqFlagHandler"
            commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorHasCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.OpenDeclarationHandler"
            commandId="dk.itu.coqoon.ui.commands.open_declaration">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.coqoon.ui.ReformatCoqHandler"
            commandId="dk.itu.coqoon.ui.commands.reformat">
         <activeWhen>
            <reference
                  definitionId="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="dk.itu.coqoon.ui.NoOutputFoldersFilter"
            description="Hides Coq output folders."
            id="dk.itu.coqoon.ui.commonFilter.OutputFolderFilter"
            name="Coq output folders"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="dk.itu.coqoon.ui.commonFilter.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="dk.itu.coqoon.ui.menus.coqToolbar"
               label="Coqoon toolbar">
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_backward"
                  icon="icons/up.gif"
                  label="Undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.retract"
                  icon="icons/uptoo.gif"
                  label="Retract"
                  style="push"
                  tooltip="Retract">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_forward"
                  icon="icons/down.gif"
                  label="Step"
                  style="push"
                  tooltip="Step">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_cursor"
                  icon="icons/icon_lego.gif"
                  label="Step Until Cursor"
                  style="push"
                  tooltip="Step Until Cursor">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_all"
                  icon="icons/downtoo.gif"
                  label="Step All"
                  style="push"
                  tooltip="Step All">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.stop_coq"
                  icon="icons/dead.gif"
                  label="Stop Coq"
                  style="push"
                  tooltip="Stop Coq">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.interrupt_coq"
                  icon="icons/stop.gif"
                  label="Interrupt Coq"
                  style="push"
                  tooltip="Interrupt Coq">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="dk.itu.coqoon.ui.menus.coq"
               label="Coq">
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_backward"
                  icon="icons/up.gif"
                  label="Undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.retract"
                  icon="icons/uptoo.gif"
                  label="Retract"
                  style="push"
                  tooltip="Retract">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_forward"
                  icon="icons/down.gif"
                  label="Step"
                  style="push"
                  tooltip="Step">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_cursor"
                  icon="icons/icon_lego.gif"
                  label="Step Until Cursor"
                  style="push"
                  tooltip="Step Until Cursor">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.step_all"
                  icon="icons/downtoo.gif"
                  label="Step All"
                  style="push"
                  tooltip="Step All">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.stop_coq"
                  icon="icons/dead.gif"
                  label="Stop Coq"
                  style="push"
                  tooltip="Stop Coq">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.interrupt_coq"
                  icon="icons/stop.gif"
                  label="Interrupt Coq"
                  style="push"
                  tooltip="Interrupt Coq">
            </command>
            <separator
                  name="dk.itu.coqoon.ui.menus.coq.separator1"
                  visible="true">
            </separator>
            <menu
                  id="dk.itu.coqoon.ui.menus.coq.setPrinting"
                  label="Set Printing">
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Implicit"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Implicit">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Coercions"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Coercions">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Matching"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Matching">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Synth"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Synth">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Notations"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Notations">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="All"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing All">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Records"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Records">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Existential Instances"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Existential Instances">
                  </parameter>
               </command>
               <command
                     commandId="dk.itu.coqoon.ui.commands.toggle_coq_flag"
                     label="Universes"
                     style="toggle">
                  <parameter
                        name="dk.itu.coqoon.ui.commands.toggle_coq_flag.name"
                        value="Printing Universes">
                  </parameter>
               </command>
            </menu>
            <separator
                  name="dk.itu.coqoon.ui.menus.coq.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="dk.itu.coqoon.ui.commands.open_declaration"
                  label="Open Declaration"
                  style="push"
                  tooltip="Open Declaration">
            </command>
            <command
                  commandId="dk.itu.coqoon.ui.commands.reformat"
                  label="Reformat"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="dk.itu.coqoon.ui.expressions.activeEditorHasCoq">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="dk.itu.coqoon.ui.expressions.activeEditorIsCoq">
         <with
               variable="activeEditor">
            <adapt
                  type="dk.itu.coqoon.ui.CoqTopContainer">
               <instanceof
                     value="dk.itu.coqoon.ui.CoqEditor">
               </instanceof>
            </adapt>
         </with>
      </definition>
      <definition
            id="dk.itu.coqoon.ui.expressions.activeEditorHasCoq">
         <with
               variable="activeEditor">
            <adapt
                  type="dk.itu.coqoon.ui.CoqTopContainer">
            </adapt>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="dk.itu.coqoon.ui.CoqoonUIPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="dk.itu.sdg.kopitiam.CoqPerspective">
         <newWizardShortcut
               id="Kopitiam.newCoqFileWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="Kopitiam.newCoqProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
