*~
*.class
.scala_dependencies
*.aux
*.log
*.out
*.pdf
.ensime
project/build/target
project/boot
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
project/plugins/target
lib_managed
bin
