<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Kopitiam.step_forward"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="Kopitiam.step_cursor"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Enter">
      </key>
      <key
            commandId="Kopitiam.step_backward"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+U">
      </key>
      <key
            commandId="Kopitiam.retract"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
      <key
            commandId="Kopitiam.step_all"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+B">
      </key>
      <key
            commandId="Kopitiam.interrupt"
            contextId="Kopitiam.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="dk.itu.sdg.kopitiam.CoqEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v"
            icon="icons/coqide.gif"
            id="kopitiam.CoqEditor"
            name="Coq Editor">
         <contentTypeBinding
               contentTypeId="dk.itu.sdg.kopitiam.CoqFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Kopitiam"
            name="Coq Views">
      </category>
      <view
            allowMultiple="false"
            category="Kopitiam"
            class="dk.itu.sdg.kopitiam.GoalViewer"
            icon="icons/coqide.gif"
            id="kopitiam.GoalViewer"
            name="Goal Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kopitiam.GoalViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="dk.itu.sdg.kopitiam.KopitiamPreferencePage"
            id="Kopitiam.settings"
            name="Kopitiam">
      </page>
      <page
            category="Kopitiam.settings"
            class="dk.itu.sdg.kopitiam.KopitiamColorPreferencePage"
            id="Kopitiam.colorSettings"
            name="Color Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Kopitiam.category"
            name="Kopitiam">
      </category>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.step_forward"
            name="Step forward command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.step_backward"
            name="Step backward command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.step_cursor"
            name="Step to cursor command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.step_all"
            name="Step all command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.retract"
            name="Retract all command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.restart_coq"
            name="Restart Coq command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.compile_coq"
            name="Compile Coq">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.interrupt"
            name="Interrupt Coq command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.verify_method"
            name="Verify Java method command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.save_proof_certificate"
            name="Save Java proof certificate command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.export_coq_makefile"
            name="Export Coq project makefile command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Context for Kopitiam files"
            id="Kopitiam.context"
            name="In Kopitiam"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Kopitiam.coqToolbar"
               label="Kopitiam toolbar">
            <command
                  commandId="Kopitiam.step_backward"
                  icon="icons/up.gif"
                  label="Undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="Kopitiam.retract"
                  icon="icons/uptoo.gif"
                  label="Retract"
                  style="push"
                  tooltip="Retract">
            </command>
            <command
                  commandId="Kopitiam.step_forward"
                  icon="icons/down.gif"
                  label="Step"
                  style="push"
                  tooltip="Step">
            </command>
            <command
                  commandId="Kopitiam.step_cursor"
                  icon="icons/icon_lego.gif"
                  label="Step Until Cursor"
                  style="push"
                  tooltip="Step Until Cursor">
            </command>
            <command
                  commandId="Kopitiam.step_all"
                  icon="icons/downtoo.gif"
                  label="Step All"
                  style="push"
                  tooltip="Step All">
            </command>
            <command
                  commandId="Kopitiam.restart_coq"
                  icon="icons/dead.gif"
                  label="Restart Coq"
                  style="push"
                  tooltip="Restart Coq">
            </command>
            <command
                  commandId="Kopitiam.interrupt"
                  icon="icons/stop.gif"
                  label="Interrupt Coq"
                  style="push"
                  tooltip="Interrupt Coq">
            </command>
            <command
                  commandId="Kopitiam.compile_coq"
                  icon="icons/compile.gif"
                  label="Compile"
                  style="push"
                  tooltip="Compile">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <command
               commandId="Kopitiam.verify_method"
               icon="icons/icon_lego.gif"
               id="dk.itu.sdg.kopitiam.popupContribution"
               label="Verify method"
               style="push"
               tooltip="Verify method">
         </command>
         <command
               commandId="Kopitiam.save_proof_certificate"
               icon="icons/checkmark.gif"
               label="Save proof certificate"
               style="push"
               tooltip="Save proof certificate">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Kopitiam.coqMenu"
               label="Coq">
            <command
                  commandId="Kopitiam.step_backward"
                  icon="icons/up.gif"
                  label="Undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="Kopitiam.retract"
                  icon="icons/uptoo.gif"
                  label="Retract"
                  style="push"
                  tooltip="Retract">
            </command>
            <command
                  commandId="Kopitiam.step_forward"
                  icon="icons/down.gif"
                  label="Step"
                  style="push"
                  tooltip="Step">
            </command>
            <command
                  commandId="Kopitiam.step_cursor"
                  icon="icons/icon_lego.gif"
                  label="Step Until Cursor"
                  style="push"
                  tooltip="Step Until Cursor">
            </command>
            <command
                  commandId="Kopitiam.step_all"
                  icon="icons/downtoo.gif"
                  label="Step All"
                  style="push"
                  tooltip="Step All">
            </command>
            <command
                  commandId="Kopitiam.restart_coq"
                  icon="icons/dead.gif"
                  label="Restart Coq"
                  style="push"
                  tooltip="Restart Coq">
            </command>
            <command
                  commandId="Kopitiam.interrupt"
                  icon="icons/stop.gif"
                  label="Interrupt Coq"
                  style="push"
                  tooltip="Interrupt Coq">
            </command>
            <command
                  commandId="Kopitiam.compile_coq"
                  icon="icons/compile.gif"
                  label="Compile"
                  style="push"
                  tooltip="Compile">
            </command>
            <separator
                  name="Kopitiam.coqMenu.separator1"
                  visible="true">
            </separator>
            <menu
                  id="Kopitiam.coqMenu.javaMenu"
                  label="Java">
               <command
                     commandId="Kopitiam.verify_method"
                     icon="icons/icon_lego.gif"
                     id="dk.itu.sdg.kopitiam.popupContribution"
                     label="Verify method"
                     style="push"
                     tooltip="Verify method">
               </command>
               <command
                     commandId="Kopitiam.save_proof_certificate"
                     icon="icons/checkmark.gif"
                     label="Save proof certificate"
                     style="push"
                     tooltip="Save proof certificate">
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <adapt
                        type="dk.itu.sdg.kopitiam.CoqTopContainer">
                  </adapt>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="Kopitiam.export_coq_makefile"
               icon="icons/coqide.gif"
               label="Export Makefile"
               style="push"
               tooltip="Export Makefile">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="dk.itu.sdg.kopitiam.CoqNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
<!--      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="Kopitiam.translatetosimplejava">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
        <command
        	commandId="Kopitiam.translatetosimplejava">
       	</command>
      </menuContribution> -->
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="Kopitiam.coq"
            class="dk.itu.sdg.kopitiam.NewCoqFileWizard"
            icon="icons/coqide.gif"
            id="Kopitiam.newCoqFileWizard"
            name="Coq File">
      </wizard>
      <wizard
            category="Kopitiam.coq"
            class="dk.itu.sdg.kopitiam.NewCoqProjectWizard"
            finalPerspective="dk.itu.sdg.kopitiam.CoqPerspective"
            icon="icons/coqide.gif"
            id="Kopitiam.newCoqProjectWizard"
            name="Coq Project"
            preferredPerspectives="dk.itu.sdg.kopitiam.CoqPerspective"
            project="true">
      </wizard>
      <category
            id="Kopitiam.coq"
            name="Coq">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="dk.itu.sdg.kopitiam.processed">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="dk.itu.sdg.kopitiam.processing">
      </type>
   </extension>
   <extension
         id="dk.itu.sdg.kopitiam.provenmarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="dk.itu.sdg.kopitiam.provenmarker"
            name="dk.itu.sdg.kopitiam.provenannotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="dk.itu.sdg.kopitiam.provenannotation"
            colorPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.mycolorhighlightkey"
            colorPreferenceValue="50,249,255"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            icon="icons/checkmark.gif"
            includeOnPreferencePage="true"
            label="Coq Proven Method"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="provenmarkerIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.proverannotation.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="provenmarkerIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="dk.itu.sdg.kopitiam.processed"
            colorPreferenceKey="coqSentBg"
            colorPreferenceValue="118,255,133"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.processed.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Coq Processed"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.processed.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="processedIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.processed.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="processedIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="dk.itu.sdg.kopitiam.processing"
            colorPreferenceKey="coqSentProcessBg"
            colorPreferenceValue="255,241,117"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.processing.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Coq Processing"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.processing.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="processingIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.processing.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="processingIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="v"
            id="dk.itu.sdg.kopitiam.CoqFile"
            name="Coq file"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="vo"
            id="dk.itu.sdg.kopitiam.CoqObjectFile"
            name="Coq object file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dk.itu.sdg.kopitiam.CoqPerspective"
            icon="icons/coqide.gif"
            id="dk.itu.sdg.kopitiam.CoqPerspective"
            name="Coq">
      </perspective>
   </extension>
   <extension
         id="dk.itu.sdg.kopitiam.CoqBuilder"
         name="Coq Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="dk.itu.sdg.kopitiam.CoqBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="dk.itu.sdg.kopitiam.CoqNature"
         name="Coq Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="dk.itu.sdg.kopitiam.CoqNature">
         </run>
      </runtime>
      <builder
            id="dk.itu.sdg.kopitiam.CoqBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="dk.itu.sdg.kopitiam.LoadPathConfigurationPage"
            icon="icons/coqide.gif"
            id="dk.itu.sdg.kopitiam.propertyPages.CoqLoadPath"
            name="Coq Load Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="dk.itu.sdg.kopitiam.CoqNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor"
            class="dk.itu.sdg.kopitiam.javap.JavaEditorStateFactory">
         <adapter
               type="dk.itu.sdg.kopitiam.CoqTopContainer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dk.itu.sdg.kopitiam.CoqStepForwardHandler"
            commandId="Kopitiam.step_forward">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.CoqStepBackHandler"
            commandId="Kopitiam.step_backward">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.CoqStepToCursorHandler"
            commandId="Kopitiam.step_cursor">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.CoqStepAllHandler"
            commandId="Kopitiam.step_all">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.CoqRetractAllHandler"
            commandId="Kopitiam.retract">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.RestartCoqHandler"
            commandId="Kopitiam.restart_coq">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.CompileCoqHandler"
            commandId="Kopitiam.compile_coq">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.InterruptCoqHandler"
            commandId="Kopitiam.interrupt">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsCoq">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.javap.VerifyMethodHandler"
            commandId="Kopitiam.verify_method">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsJava">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.javap.SaveProofCertificateHandler"
            commandId="Kopitiam.save_proof_certificate">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsJava">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.ExportCoqMakefileHandler"
            commandId="Kopitiam.export_coq_makefile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="Kopitiam.activeEditorIsCoq">
         <with
               variable="activeEditor">
            <adapt
                  type="dk.itu.sdg.kopitiam.CoqTopContainer">
               <instanceof
                     value="dk.itu.sdg.kopitiam.CoqEditor">
               </instanceof>
            </adapt>
         </with>
      </definition>
      <definition
            id="Kopitiam.activeEditorIsJava">
         <with
               variable="activeEditor">
            <adapt
                  type="dk.itu.sdg.kopitiam.CoqTopContainer">
               <instanceof
                     value="dk.itu.sdg.kopitiam.javap.JavaEditorState">
               </instanceof>
            </adapt>
         </with>
      </definition>
   </extension>
   <extension
         id="dk.itu.sdg.kopitiam.problemmarker"
         name="Kopitiam problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="dk.itu.sdg.kopitiam.ResolutionGenerator"
            markerType="dk.itu.sdg.kopitiam.problemmarker">
      </markerResolutionGenerator>
   </extension>

</plugin>
