<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Kopitiam.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               class="dk.itu.sdg.kopitiam.CoqStepAction"
               icon="icons/down.gif"
               id="kopitiam.actions.StepAction"
               label="&amp;Step Actiontion"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="CoqGroup"
               tooltip="CoqStepAction">
         </action>
         <action
               class="dk.itu.sdg.kopitiam.CoqUndoAction"
               icon="icons/up.gif"
               id="kopitiam.actions.UndoStepAction"
               label="&amp;Undo Step Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="CoqGroup"
               tooltip="CoqUndoAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="dk.itu.sdg.kopitiam.CoqEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v"
            icon="icons/sample.gif"
            id="kopitiam.CoqEditor"
            name="Coq Editor">
      </editor>
      <editor
            class="dk.itu.sdg.kopitiam.CoqJavaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="java"
            icon="icons/sample.gif"
            id="kopitiam.CoqJavaEditor"
            name="Coq Java Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Kopitiam"
            name="Coq Views">
      </category>
      <view
            allowMultiple="false"
            category="Kopitiam"
            class="dk.itu.sdg.kopitiam.GoalViewer"
            icon="icons/sample.gif"
            id="kopitiam.GoalViewer"
            name="Goal Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kopitiam.GoalViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
