<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kopitiam.GoalViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="dk.itu.coqoon.core.pref"
            class="dk.itu.sdg.kopitiam.KopitiamPreferencePage"
            id="Kopitiam.settings"
            name="Kopitiam">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="dk.itu.sdg.kopitiam.provenmarker"
            name="dk.itu.sdg.kopitiam.provenannotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         id="dk.itu.sdg.kopitiam.provenmarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="dk.itu.sdg.kopitiam.provenannotation"
            colorPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.mycolorhighlightkey"
            colorPreferenceValue="50,249,255"
            highlightPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.mycolorbackgroundhighlightkey"
            highlightPreferenceValue="true"
            icon="icons/checkmark.gif"
            includeOnPreferencePage="true"
            label="Coq Proven Method"
            overviewRulerPreferenceKey="dk.itu.sdg.kopitiam.proverannotation.overviewrulerkey"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="provenmarkerIndicationInText"
            textPreferenceValue="true"
            textStylePreferenceKey="dk.itu.sdg.kopitiam.proverannotation.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="provenmarkerIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor"
            class="dk.itu.sdg.kopitiam.javap.JavaEditorStateFactory">
         <adapter
               type="dk.itu.coqoon.ui.CoqTopContainer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dk.itu.sdg.kopitiam.javap.VerifyMethodHandler"
            commandId="Kopitiam.verify_method">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsJava">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="dk.itu.sdg.kopitiam.javap.SaveProofCertificateHandler"
            commandId="Kopitiam.save_proof_certificate">
         <activeWhen>
            <reference
                  definitionId="Kopitiam.activeEditorIsJava">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="Kopitiam.activeEditorIsJava">
         <with
               variable="activeEditor">
            <adapt
                  type="dk.itu.coqoon.ui.CoqTopContainer">
               <instanceof
                     value="dk.itu.sdg.kopitiam.javap.JavaEditorState">
               </instanceof>
            </adapt>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Kopitiam.category"
            name="Kopitiam">
      </category>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.verify_method"
            name="Verify Java method command">
      </command>
      <command
            categoryId="Kopitiam.category"
            id="Kopitiam.save_proof_certificate"
            name="Save Java proof certificate command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <command
               commandId="Kopitiam.verify_method"
               icon="platform:/plugin/dk.itu.coqoon.ui/icons/icon_lego.gif"
               id="dk.itu.sdg.kopitiam.popupContribution"
               label="Verify method"
               style="push"
               tooltip="Verify method">
         </command>
         <command
               commandId="Kopitiam.save_proof_certificate"
               icon="platform:/plugin/dk.itu.coqoon.ui/icons/checkmark.gif"
               label="Save proof certificate"
               style="push"
               tooltip="Save proof certificate">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:dk.itu.coqoon.ui.menus.coq">
         <separator
               name="dk.itu.sdg.kopitiam.menus.coq.separator"
               visible="true">
         </separator>
         <menu
               id="dk.itu.sdg.kopitiam.menus.coq.java"
               label="Java">
            <command
                  commandId="Kopitiam.verify_method"
                  icon="platform:/plugin/dk.itu.coqoon.ui/icons/icon_lego.gif"
                  id="dk.itu.sdg.kopitiam.popupContribution"
                  label="Verify method"
                  style="push"
                  tooltip="Verify method">
            </command>
            <command
                  commandId="Kopitiam.save_proof_certificate"
                  icon="platform:/plugin/dk.itu.coqoon.ui/icons/checkmark.gif"
                  label="Save proof certificate"
                  style="push"
                  tooltip="Save proof certificate">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="dk.itu.coqoon.core.loadpath">
      <provider
            provider="dk.itu.sdg.kopitiam.javap.ChargeLibrary">
      </provider>
   </extension>
</plugin>
