<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dk.itu.coqoon.ocaide:commands"
            name="OcaIDE integration for Coqoon">
      </category>
      <command
            categoryId="dk.itu.coqoon.ocaide:commands"
            description="Add OcaIDE support to a Coq project"
            id="dk.itu.coqoon.ocaide:command.enable"
            name="Enable OCaml integration">
      </command>
      <command
            categoryId="dk.itu.coqoon.ocaide:commands"
            description="Remove OcaIDE support from a Coq project"
            id="dk.itu.coqoon.ocaide:command.disable"
            name="Disable OCaml integration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="Coqoon">
            <command
                  commandId="dk.itu.coqoon.ocaide:command.enable"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/add_obj.gif"
                  label="Enable OCaml integration"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="ocaml.ocamlbuildnature">
                              </test>
                           </not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="dk.itu.sdg.kopitiam.CoqNature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="dk.itu.coqoon.ocaide:command.disable"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/delete_obj.gif"
                  label="Disable OCaml integration"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="dk.itu.sdg.kopitiam.CoqNature">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="ocaml.ocamlbuildnature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dk.itu.coqoon.ocaide.ConfigureHandler"
            commandId="dk.itu.coqoon.ocaide:command.enable">
      </handler>
      <handler
            class="dk.itu.coqoon.ocaide.UnconfigureHandler"
            commandId="dk.itu.coqoon.ocaide:command.disable">
      </handler>
   </extension>

</plugin>
